<div class="modal fade" id="ShowAlert" tabindex="-1" role="dialog" aria-labelledby="ShowAlert" aria-hidden="true" data-id="0">
  <div class="modal-dialog mat_box" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body ShowAlertText">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{LANG Cancel}}</button>
      </div>
    </div>
  </div>
</div>
