<div class="modal fade" id="unjoin-event" tabindex="-1" role="dialog" aria-labelledby="unjoin-event" aria-hidden="true" data-id="0">
  <div class="modal-dialog mat_box" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{LANG Leave event}}</h5>
      </div>
      <div class="modal-body">
        {{LANG Are you sure you want to leave this event?}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{LANG Cancel}}</button>
        <button type="button" class="btn btn-primary btn-mat" data-dismiss="modal">{{LANG Leave}}</button>
      </div>
    </div>
  </div>
</div>
