<div class="top_playlist_list">
	<div>
		<div>
			<h3><a href="{{url}}" data-load="{{ajax_url}}">{{title}}</a></h3>
			<p><a href="{{USER url}}" data-load="{{USER username}}">{{USER name}}</a></p>
		</div>
	</div>
	<a href="" class="btn" onclick="playPlayListSongs({{id}}); return false"><svg xmlns="http://www.w3.org/2000/svg" width="26.596" height="26.596" viewBox="0 0 26.596 26.596"> <path id="ic_play_circle_filled_24px" d="M15.3,2A13.3,13.3,0,1,0,28.6,15.3,13.3,13.3,0,0,0,15.3,2Zm-2.66,19.282V9.314L20.617,15.3Z" transform="translate(-2 -2)" fill="currentColor"/> </svg> {{LANG listen_now}}</a>
</div>