<div class="item">
	<a href="{{url}}" class="card embed-responsive embed-responsive-1by1" data-load="{{ajax_url}}">
		<img class="embed-responsive-item" src="{{thumbnail}}" alt="" />
		<div class="play_btn">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z"></path></svg>
		</div>
	</a>
	<div class="bg_text">
		<h2><a href="{{url}}" data-load="{{ajax_url}}">{{title}}</a></h2>
		<p><a href="{{USER url}}" data-load="{{USER username}}">{{USER name}}</a></p>
	</div>
</div>