<div class="col-lg-12 song_list" data-id="{{SONG id}}">
	<div class="song_list_innr">
		<div class="info">
			<div class="avatar">
				<a href="{{LINK track/{{SONG audio_id}}/play}}" data-load="track/{{SONG audio_id}}/play"><img src="{{SONG thumbnail}}"></a>
			</div>
			<div class="song_right_part">
				<div class="song_upper">
					<div class="song_meta_info">
						<a href="{{LINK track/{{SONG audio_id}}/play}}" data-load="track/{{SONG audio_id}}/play"><h3>{{SONG title}}</h3></a>
						<div class="subb">
							<span class="duration" title="Duration">{{SONG duration}}</span><span class="mx-3">•</span>
							<a href="{{LINK <?php echo $data['SONG_DATA']->publisher->username;?>}}" data-load="<?php echo $data['SONG_DATA']->publisher->username;?>"><p><?php echo $data['SONG_DATA']->publisher->name;?></p></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="dropdown">
			<svg data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z"></path></svg>
			<div class="dropdown-menu dropdown-menu-right mat-dropdown">
				<ul class="list-unstyled mb-0">
					<li><a href="javascript:void(0)" onclick="getPlayLists(<?php echo $data['SONG_DATA']->id;?>)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M2 18h10v2H2v-2zm0-7h20v2H2v-2zm0-7h20v2H2V4zm16 14v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z"></path></svg>  {{LANG Add to Playlist}}</a></li>
					<li><a onclick="getShareModal(<?php echo $data['SONG_DATA']->id;?>, $(this));"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M13.12 17.023l-4.199-2.29a4 4 0 1 1 0-5.465l4.2-2.29a4 4 0 1 1 .959 1.755l-4.2 2.29a4.008 4.008 0 0 1 0 1.954l4.199 2.29a4 4 0 1 1-.959 1.755zM6 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm11-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path></svg>  {{LANG Share}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>