<div class="ma_page_content">
    <div class="ma_pc_inner">
		<div class="reset_page">
			<div class="circle_blue circle_opacity"></div>
			<div class="circle_red circle_opacity"></div>
			<div class="circle_orange circle_opacity"></div>
			<div class="reset-page">
				<div class="reset-form">
					<h4>{{LANG Two-factor authentication}}</h4>
					<p>
						{{LANG To log in, you need to verify your identity.}} 
						<?php
							if ($music->config->two_factor_type == 'both') {
								echo lang('We have sent you the confirmation code to your phone and to your email address.');
							} else if ($music->config->two_factor_type == 'email') {
								echo lang('We have sent you the confirmation code to your email address.');
							} else if ($music->config->two_factor_type == 'phone') {
								echo lang('We have sent you the confirmation code to your phone number.');
							}
						?>
					</p>
					<form id="confirm-form" method="post">
						<div class="alert_re"></div>
						<div class="errors"></div>
						<div class="alert alert-success hidden" id="output-twofact-errors">{{LANG Welcome...}}</div>
						<div class="form-group mat_input float">
							<input name="confirm_code" type="text" class="form-control" id="confirm_code" placeholder=" " autofocus />
							<label>{{LANG Confirmation code}}</label>
						</div>
						<div class="send_again">
							<p id="countDownDateTimer" class="hidden"></p>&nbsp;&nbsp;<a onclick="ResendTwoCode()" class="btn-mat pointer" id="resendCode">{{LANG send_again}}</a>
						</div>
						<div class="mat_sett_btn">
							<button type="submit" class="btn btn-block btn-primary btn-mat" id="btn-general-submit">{{LANG Login}}</button>
						</div>
					</form>
				</div>    
			</div>
		</div>
    </div>
</div>

<script>
	function ResendTwoCode() {
		$('#resendCode').addClass('disabled');
		$('#resendCode').text("{{LANG Please wait..}}");
		$.post("{{CONFIG ajax_url}}/auth/resend_two_factor?hash_id=" + getHashID(), function (data) {
			
		  $('#resendCode').text("{{LANG send_again}}");
	        if (data.status == 200) {
	        	$('#countDownDateTimer').removeClass('hidden');
	        	var countDownDate = new Date().getTime() + (60000 * 1);
						var x = setInterval(function() {

						  // Get today's date and time
						  var now = new Date().getTime();

						  // Find the distance between now and the count down date
						  var distance = countDownDate - now;
						  console.log(countDownDate);

						  // Time calculations for days, hours, minutes and seconds
						  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
						  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
						  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
						  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

						  // Display the result in the element with id="demo"
						  document.getElementById("countDownDateTimer").innerHTML = minutes + "m " + seconds + "s ";

						  // If the count down is finished, write some text
						  if (distance < 0) {
						  	$('#countDownDateTimer').addClass('hidden');
						  	$('#countDownDateTimer').html('');
						  	$('#resendCode').removeClass('disabled');
						    clearInterval(x);

						  }
						}, 1000);
	        	$('.alert_re').html("<div class='alert alert-success'>"+data.message+"</div>");
	        	setTimeout(function () {
							$('.alert_re').html("");
						},3000);
	        }
	        else{
	        	$('#resendCode').removeClass('disabled');
	        	$('.alert_re').html("<div class='alert alert-danger'>"+data.message+"</div>");
						setTimeout(function () {
							$('.alert_re').html("");
						},3000);
	        }
	    }).fail(function(data) {
	    	$('#resendCode').removeClass('disabled');
		    $('#resendCode').text("{{LANG send_again}}");
	    	$('.alert_re').html("<div class='alert alert-danger'>"+data.message+"</div>");
				setTimeout(function () {
					$('.alert_re').html("");
				},3000);
		});
	}
	
    var working = false;
    var $this = $('#confirm-form');
    var $state = $this.find('.errors');
    $(function() {
        $this.ajaxForm({
            url: "{{CONFIG ajax_url}}/user/confirm_user_unusal_login?hash_id=" + getHashID(),
            beforeSend: function() {
                working = true;$this.find('button').attr("disabled", true);
				$this.find('button').html("{{LANG Please wait..}}");
            },
            success: function(data) {
                if (data.status == 200) {
                    $('#output-twofact-errors').removeClass('success');
                    setTimeout(function () {
                        window.location.href = data.location;
                    }, 1000);
                } else {
                    $this.find('button').attr("disabled", false);
					$this.find('button').html("{{LANG Login}}");
                    $state.html(data.errors);
                }
                working = false;
            }
        });
    });
</script>