<div class="ma_page_content">
	<!-- Reset Box -->
	<div class="reset_page">
		<div class="reset-page">
			<div class="reset-form">
				<h4>{{LANG Reset your password}}</h4>
				<p>{{LANG Enter new password to proceed.}}</p>
				<form action="" method="POST" id="reset-form">
					<div class="alert alert-danger alert-empty" id="output-reset-errors"></div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="{{LANG New Password}}" autofocus name="password" id="password">
						<?php if ($music->config->password_complexity_system == 1) { ?>
							<ul class="register-helper-text">
								<li class="length">{{LANG least_characters}}</li>
								<li class="lowercase">{{LANG contain_lowercase}}</li>
								<li class="uppercase">{{LANG contain_uppercase}}</li>
								<li class="special">{{LANG number_special}}</li>
							</ul>
						<?php } ?>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="{{LANG Confirm Password}}" name="c_password">
					</div>
					<input type="hidden" class="form-control" name="email_code" value="{{email_code}}">
					<button type="submit" class="btn btn-block btn-primary btn-mat" id="btn-reset-submit">{{LANG Reset}}</button>
				</form>
			</div>    
		</div>
	</div>
	<!-- End Reset Box -->
	
	<!-- Footer -->
	<?php echo loadPage('home/footer'); ?>
	<!-- End Footer -->
</div>

<script>
<?php if ($music->config->password_complexity_system == 1) { ?>

(function(){
	var helperText = {
		charLength: document.querySelector('.register-helper-text .length'),
		lowercase: document.querySelector('.register-helper-text .lowercase'),
		uppercase: document.querySelector('.register-helper-text .uppercase'),
		special: document.querySelector('.register-helper-text .special')
	};
	var password = document.querySelector('#password');
	
	
	
	var pattern = {
		charLength: function() {
			if( password.value.length >= 6 ) {
				return true;
			}
		},
		lowercase: function() {
			var regex = /^(?=.*[a-z]).+$/; // Lowercase character pattern

			if( regex.test(password.value) ) {
				return true;
			}
		},
		uppercase: function() {
			var regex = /^(?=.*[A-Z]).+$/; // Uppercase character pattern

			if( regex.test(password.value) ) {
				return true;
			}
		},
		special: function() {
			var regex = /^(?=.*[0-9_\W]).+$/; // Special character or number pattern

			if( regex.test(password.value) ) {
				return true;
			}
		}   
	};
	
	// Listen for keyup action on password field
	function CheckCPassword() {
		$('.register-helper-text').slideDown('slow', function() {
  	    	
  	    });
		// Check that password is a minimum of 8 characters
		patternTest( pattern.charLength(), helperText.charLength );
		
		// Check that password contains a lowercase letter		
		patternTest( pattern.lowercase(), helperText.lowercase );
		
		// Check that password contains an uppercase letter
		patternTest( pattern.uppercase(), helperText.uppercase );
		
		// Check that password contains a number or special character
		patternTest( pattern.special(), helperText.special );
    
	    // Check that all requirements are fulfilled
	    if( hasClass(helperText.charLength, 'valid') &&
				  hasClass(helperText.lowercase, 'valid') && 
				 	hasClass(helperText.uppercase, 'valid') && 
				  hasClass(helperText.special, 'valid')
			) {
				addClass(password.parentElement, 'valid');
	    }
	    else {
	      removeClass(password.parentElement, 'valid');
	    }
	}
  password.addEventListener('keyup', CheckCPassword);
  password.addEventListener('input', CheckCPassword);
	
	function patternTest(pattern, response) {
		if(pattern) {
      addClass(response, 'valid');
    }
    else {
      removeClass(response, 'valid');
    }
	}
	
	function addClass(el, className) {
		if (el.classList) {
			el.classList.add(className);
		}
		else {
			el.className += ' ' + className;
		}
	}
	
	function removeClass(el, className) {
		if (el.classList)
				el.classList.remove(className);
			else
				el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
	}
	
	function hasClass(el, className) {
		if (el.classList) {
			// console.log(el.classList);
			return el.classList.contains(className);	
		}
		else {
			new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);	
		}
	}
	
})();
<?php } ?>
$(document).ready(function() { 
    var options = { 
    	url: "{{CONFIG ajax_url}}/auth/reset-password?hash_id=" + getHashID(),
        beforeSubmit:  function () {
        	<?php if ($music->config->password_complexity_system == 1) { ?>
	    	if ($('.register-helper-text .length').hasClass('valid') && $('.register-helper-text .lowercase').hasClass('valid') && $('.register-helper-text .uppercase').hasClass('valid') && $('.register-helper-text .special').hasClass('valid')) {
	    		$('#output-reset-errors').removeClass("alert-success").addClass('alert-danger');
	        	$('#output-reset-errors').empty();
	        	$("#btn-reset-submit").text("{{LANG Please wait..}}");
	    	}
	    	else{
	    		$('#output-reset-errors').html("{{LANG complexity_requirements}}");
	    		return false;
	    	}
	        <?php }else{ ?>
        	$('#output-reset-errors').removeClass("alert-success").addClass('alert-danger');
        	$('#output-reset-errors').empty();
        	$("#btn-reset-submit").text("{{LANG Please wait..}}");
        	<?php } ?>
        }, 
        success: function (data) {
        	$("#btn-reset-submit").text("{{LANG Reset}}");
        	if (data.status == 200) {
        		location.href = '{{LINK discover}}';
        	} else if (data.status == 400) {
        		var errros = data.errors.join("<br>");
        		$('#output-reset-errors').html(errros);
        	}
        }
    }; 

    $('#reset-form').ajaxForm(options); 
}); 
</script>