<?php
$fields = GetWelcomeFields();
?>
<!-- Modal -->
<div class="modal fade" id="signup_box" tabindex="-1" role="dialog" aria-labelledby="signup_box" aria-hidden="true">
	<div class="modal-dialog auth_box" role="document">
		<div class="modal-content">
			<div class="left_combo" style="background-image: url({{CONFIG theme_url}}/img/music.svg);">
				<h2>{{LANG Signup}}</h2>
				<p>{{LANG Get access to your Music, Playlists and Account}}</p>
			</div>
			<div class="right_combo">
				<div class="alert alert-danger alert-empty" id="output-singup-errors"></div>
				<form method="post" action="POST" id="signup-form">
					<?php if ($music->config->auto_username == 1) { ?>
					<div class="form-group mat_input">
						<input type="text" name="first_name" class="form-control" placeholder="{{LANG first_name}}" autofocus>
					</div>
					<div class="form-group mat_input">
						<input type="text" name="last_name" class="form-control" placeholder="{{LANG last_name}}" autofocus>
					</div>
				<?php }else{ ?>
					<div class="form-group mat_input">
						<input type="text" name="name" class="form-control" placeholder="{{LANG Full Name}}" autofocus>
					</div>
					<div class="form-group mat_input">
						<input type="text" name="username" class="form-control" placeholder="{{LANG Username}}">
					</div>
				<?php } ?>
					<div class="form-group mat_input">
						<input type="email" name="email" class="form-control" placeholder="{{LANG Email address}}">
					</div>
					<div class="form-group mat_input">
						<input type="password" name="password" class="form-control" placeholder="{{LANG Password}}" id="password">
						<?php if ($music->config->password_complexity_system == 1) { ?>
							<ul class="register-helper-text">
								<li class="length">{{LANG least_characters}}</li>
								<li class="lowercase">{{LANG contain_lowercase}}</li>
								<li class="uppercase">{{LANG contain_uppercase}}</li>
								<li class="special">{{LANG number_special}}</li>
							</ul>
						<?php } ?>
					</div>
					<div class="form-group mat_input">
						<input type="password" name="c_password" class="form-control" placeholder="{{LANG Confirm Password}}">
					</div>
					<?php
						if (!empty($fields) && count($fields) > 0) {
							foreach ($fields as $key => $wo['field']) {
								echo LoadPage('auth/fields',$wo['field']);
							}
						}
					?>
					<div class="recaptcha">
						<?php if ($music->config->recaptcha == 'on') { ?>
						<div class="g-recaptcha" data-sitekey="{{CONFIG recaptcha_key}}"></div><br>
						<?php } ?>
					</div>
					<button type="submit" class="btn btn-primary btn-mat" id="btn-singup-submit">{{LANG Signup}}</button>
				</form>
				<div class="signup_">
					<span>{{LANG Already have an account?}}</span>
					<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#login_box">{{LANG Login}}</a>
				</div>
				<div class="terms_check">
					<span>{{LANG By signing up, you agree to our}}</span>
					<a href="{{LINK terms/terms}}">{{LANG Terms}}</a>
					<span>{{LANG and}}</span>
					<a href="{{LINK terms/privacy}}">{{LANG Privacy Policy}}</a>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
<?php if ($music->config->recaptcha == 'on') { ?>
.auth_box .modal-content {
	min-height: 560px;
}
<?php } ?>
</style>
<script>
<?php if ($music->config->password_complexity_system == 1) { ?>

(function(){
	var helperText = {
		charLength: document.querySelector('.register-helper-text .length'),
		lowercase: document.querySelector('.register-helper-text .lowercase'),
		uppercase: document.querySelector('.register-helper-text .uppercase'),
		special: document.querySelector('.register-helper-text .special')
	};
	var password = document.querySelector('#password');
	
	
	
	var pattern = {
		charLength: function() {
			if( password.value.length >= 6 ) {
				return true;
			}
		},
		lowercase: function() {
			var regex = /^(?=.*[a-z]).+$/; // Lowercase character pattern

			if( regex.test(password.value) ) {
				return true;
			}
		},
		uppercase: function() {
			var regex = /^(?=.*[A-Z]).+$/; // Uppercase character pattern

			if( regex.test(password.value) ) {
				return true;
			}
		},
		special: function() {
			var regex = /^(?=.*[0-9_\W]).+$/; // Special character or number pattern

			if( regex.test(password.value) ) {
				return true;
			}
		}   
	};
	
	// Listen for keyup action on password field
	function CheckCPassword() {
		$('.register-helper-text').slideDown('slow', function() {
  	    	
  	    });
		// Check that password is a minimum of 8 characters
		patternTest( pattern.charLength(), helperText.charLength );
		
		// Check that password contains a lowercase letter		
		patternTest( pattern.lowercase(), helperText.lowercase );
		
		// Check that password contains an uppercase letter
		patternTest( pattern.uppercase(), helperText.uppercase );
		
		// Check that password contains a number or special character
		patternTest( pattern.special(), helperText.special );
    
	    // Check that all requirements are fulfilled
	    if( hasClass(helperText.charLength, 'valid') &&
				  hasClass(helperText.lowercase, 'valid') && 
				 	hasClass(helperText.uppercase, 'valid') && 
				  hasClass(helperText.special, 'valid')
			) {
				addClass(password.parentElement, 'valid');
	    }
	    else {
	      removeClass(password.parentElement, 'valid');
	    }
	}
  password.addEventListener('keyup', CheckCPassword);
  password.addEventListener('input', CheckCPassword);
	
	function patternTest(pattern, response) {
		if(pattern) {
      addClass(response, 'valid');
    }
    else {
      removeClass(response, 'valid');
    }
	}
	
	function addClass(el, className) {
		if (el.classList) {
			el.classList.add(className);
		}
		else {
			el.className += ' ' + className;
		}
	}
	
	function removeClass(el, className) {
		if (el.classList)
				el.classList.remove(className);
			else
				el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
	}
	
	function hasClass(el, className) {
		if (el.classList) {
			// console.log(el.classList);
			return el.classList.contains(className);	
		}
		else {
			new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);	
		}
	}
	
})();
<?php } ?>
$(document).ready(function() { 
    var options = { 
    	url: "{{CONFIG ajax_url}}/auth/signup?hash_id=" + getHashID()+ '<?php if( isset($_GET["invite"]) && !empty($_GET["invite"]) ){ echo "&invite=".secure($_GET["invite"]);}?>',
        beforeSubmit:  function () {
        	<?php if ($music->config->password_complexity_system == 1) { ?>
	    	if ($('.register-helper-text .length').hasClass('valid') && $('.register-helper-text .lowercase').hasClass('valid') && $('.register-helper-text .uppercase').hasClass('valid') && $('.register-helper-text .special').hasClass('valid')) {
	    		$('#output-singup-errors').removeClass("alert-success").addClass('alert-danger');
	        	$('#output-singup-errors').empty();
	        	$("#btn-singup-submit").text("{{LANG Please wait..}}");
	    	}
	    	else{
	    		$('#output-singup-errors').html("{{LANG complexity_requirements}}");
	    		return false;
	    	}
	      <?php }else{ ?>
	      	$('#output-singup-errors').removeClass("alert-success").addClass('alert-danger');
        	$('#output-singup-errors').empty();
        	$("#btn-singup-submit").text("{{LANG Please wait..}}");
	      <?php } ?>
        }, 
        success: function (data) {
        	$("#btn-singup-submit").text("{{LANG Signup}}");
        	if (data.status == 200) {

                if( typeof data.link !== "undefined" ){
                    location.href = '{{CONFIG site_url}}';
                }

        		if ($('#page').attr('data-page') != 'home' && $('#page').attr('data-page') != 'forgot' && $('#page').attr('data-page') != 'reset') {
        			$('#main-header').html(data.header);
        			$('#signup_box').modal('hide');

        			if (Amplitude.getActiveSongMetadata().price > 0) {
        				location.href = '{{CONFIG site_url}}/interest';//window.location.href;
        			} else {
        				ajaxRedirect('interest');
        			}
        		} else {
        			location.href = '{{CONFIG site_url}}/interest';//window.location.href;
        		}
        	} else if (data.status == 400) {
        		var errros = data.errors.join("<br>");
        		$('#output-singup-errors').html(errros);
        	} else if (data.status == 403) {
        		$('#output-singup-errors').removeClass("alert-danger").addClass('alert-success');
        		$('#output-singup-errors').html(data.message);
        	}
        }
    }; 

    $('#signup-form').ajaxForm(options); 
}); 
</script>