<div class="content ds_order_list song_list p-2" data-order="{{ID}}">
	<div class="row">
		<div class="col-md-3">
			<a href="{{url}}" data-load="order/{{hash}}"><b>#{{hash}}</b></a>
		</div>
		<div class="col-md-2">
			<h3>{{LANG Products}}</h3><p>{{count}}</p>
		</div>
		<div class="col-md-2">
			<h3>Qty</h3><p>{{items_count}}</p>
		</div>
		<div class="col-md-2">
			<h3>{{LANG Price}}</h3><p>{{CONFIG currency_symbol}}{{price}}</p>
		</div>
		<div class="col-md-2">
			<h3>{{LANG Status}}</h3><p><span class="badge badge-success">{{status}}</span></p>
		</div>
		<div class="col-lg-1 text-right">
			<a href="{{url}}" data-load="order/{{hash}}" class="btn btn-mat buy_button" title="{{LANG View Details}}"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"> <g id="Group_9598" data-name="Group 9598" transform="translate(-1789 -268)"> <g id="Rectangle_3407" data-name="Rectangle 3407" transform="translate(1789 268)" class="store_orders_ico" stroke-width="1"> <rect width="40" height="40" rx="20" stroke="none"/> <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="none"/> </g> <path id="Path_7220" data-name="Path 7220" d="M8829.8,2855.235h0l6.7-6.7-6.7-6.7-.967.96,5.74,5.74-5.74,5.74.966.959Z" transform="translate(-7023.837 -2560.836)" fill="currentColor"/> </g> </svg></a>
		</div>
	</div>
</div>