<?php
    $report_report_style = '';
    $report_unreport_style = '';
    if( $music->track_reported === false ){
        $report_unreport_style = 'visibility: hidden;display: none;';
    }else{
        $report_report_style = 'visibility: hidden;display: none;';
    }
?>
<a href="javascript:void(0);" style="<?php echo $report_report_style;?>" onclick="$('#report_track_id').val('{{t_id}}');" class="track_report" data-track-id="{{t_id}}" rel="nofollow" data-toggle="modal" data-target="#report_track" data-uid="{{u_id}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z"/></svg> {{LANG Report}}</a>
<a href="javascript:void(0);" style="<?php echo $report_unreport_style;?>" class="track_unreport" data-uid="{{u_id}}" onclick="UnReportTrack('{{t_id}}', '{{u_id}}');" data-track-id="{{t_id}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z"/></svg> {{LANG UnReport}}</a>