<li class="user-list" data-id="{{ID}}" data-time="{{TTIME}}">
    <div class="list-innr" data-load="messages/{{USERNAME}}" data-id="{{ID}}">
		<div class="user-avatar">
			<img src="{{AVATAR}}" alt="user avatar">
			<div class="countunseen">{{COUNT}}</div>
		</div>
		
		<div class="user-name">{{NAME}}</div>
		<div class="username hidden">{{USERNAME}}</div>
		<div class="user-last-message">{{LAST_MESSAGE}}</div>
		<div class="user-last-message user-last-time">{{TIME}}</div>
		<div class="clear"></div>
    </div>
</li>