<div class="song_list">
	<div class="avatar">
		<a href="{{url}}" data-load="<?php echo($music->order->product->data_load) ?>"><img src="{{image}}"></a>
	</div>
	<div class="song_right_part">
		<div class="song_upper">
			<div class="song_meta_info">
				<a href="{{url}}" data-load="<?php echo($music->order->product->data_load) ?>"><h3>{{title}}</h3></a>
				<p>Qty: <b>{{items_count}}</b></p>
				<p>{{LANG Site Commission}}: <b>{{CONFIG currency_symbol}}{{commission}}</b></p>
				<p>{{LANG Final Price}}: <b>{{CONFIG currency_symbol}}{{final_price}}</b></p>
			</div>
			<div class="song_price_info">
				<b>{{CONFIG currency_symbol}}{{price}}</b>
			</div>
		</div>
	</div>
</div>