<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<!-- Settings -->
				<div class="sett_page">
					<div class="row">
						<div class="col-lg-4">
							<?php echo loadPage("settings/sidebar"); ?>
						</div>
						<div class="col-lg-8">
							<div class="st_content">
								<h2 class="home_widget_title home_big_title mt-4 mb-5">{{LANG Blocked Users}}</h2>
								
								<div class="st_form">
									<div class="row">
										{{blocked_list}}
									</div>
								</div>
							</div>
						</div>
					</div>
					

					
				</div>
			<!-- End Settings -->
		</div>
	</div>
</div>