<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<!-- Settings -->
				<div class="sett_page">
					<div class="row">
						<div class="col-lg-4">
							<?php echo loadPage("settings/sidebar"); ?>
						</div>
						<div class="col-lg-8">
							<div class="st_content delete">
								<h2 class="home_widget_title home_big_title mt-4 mb-5">{{LANG Delete Account}}</h2>
								
								<div class="st_form">
									<p class="delete_p">{{LANG Are you sure you want to delete your account? All content including published songs, will be permanetly removed!}}</p>
									<form method="post" action="" id="general-form">
										<div class="alert alert-danger alert-empty" id="output-general-errors"></div>
										<div class="form-group mat_input float">
											
											<input type="password" name="c_pass" class="form-control" placeholder=" " id="c_pass" autofocus="">
											<label for="c_pass">{{LANG Current Password}}</label>
										</div>
										<div class="last-sett-btn modal-footer mat_sett_btn pb-3">
											<input type="hidden" id="user-id" name="user_id" value="{{USER id}}">
											<button type="submit" class="btn btn-primary btn-mat" id="btn-general-submit">{{LANG Delete}}</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					

					
				</div>
			<!-- End Settings -->
		</div>
	</div>
</div>

<script>
$(document).ready(function() { 
    var options = { 
    	url: "{{CONFIG ajax_url}}/user/delete?hash_id=" + getHashID(),
        beforeSubmit:  function () {
        	$('#output-general-errors').removeClass("alert-success").addClass('alert-danger');
        	$('#output-general-errors').empty();
        	$("#btn-general-submit").text("{{LANG Please wait..}}");
        }, 
        success: function (data) {
			scrollToTop();
        	$("#btn-general-submit").text("{{LANG Delete}}");
        	if (data.status == 200) {
        		$('#output-general-errors').removeClass("alert-danger").addClass('alert-success');
        		$('#output-general-errors').html(data.message);
        		setTimeout(function () {
        			location.href = "{{CONFIG site_url}}";
        		}, 2000);
        	} else if (data.status == 400) {
        		var errros = data.errors.join("<br>");
        		$('#output-general-errors').html(errros);
        	} 
        }
    }; 
    $('#general-form').ajaxForm(options); 
}); 
</script>