<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<div class="pub_playlists ma_playlists">
				<h2 class="home_widget_title home_big_title mt-0 mb-4">{{LANG My Playlists}}</h2>
				<div class="sec_head">
					<b>{{counts}}</b>
				</div>
				<div class="pplist_slider playlist-small">
					<div class="track_list playlist-p-list create">
						<div class="track">
							<div class="cover_art">
								<div class="art_innr">
									<a class="block" href="javascript:void(0)" data-toggle="modal" data-target="#create_playlist_box">
										<div class="create_my_playlist">
											<svg xmlns="http://www.w3.org/2000/svg" width="74.639" height="60.512" viewBox="0 0 74.639 60.512"> <g id="Group_9673" data-name="Group 9673" transform="translate(-579.764 -283.994)"> <path id="Path_6453" data-name="Path 6453" d="M3469,13964.447h35.318v7.064H3469Zm0-24.724h49.447v7.063H3469Zm0-24.724h70.639v7.064H3469Z" transform="translate(-2887.236 -13629.006)" fill="#7e7e7e" class="icon_stroke" stroke-width="4"/> <path id="Path_7235" data-name="Path 7235" d="M100.266,5.585a12.091,12.091,0,0,1-5.882-1.391c-1.252-.727-1.97-1.638-1.97-2.5V1.629a1.652,1.652,0,0,0-3.3,0v20.92a8.9,8.9,0,1,0,3.3,6.893c0-.016,0-.032,0-.049s0-.016,0-.024V6.816a14.908,14.908,0,0,0,7.851,2.026,1.629,1.629,0,1,0,0-3.257ZM83.359,35.115a5.674,5.674,0,1,1,5.753-5.674A5.72,5.72,0,0,1,83.359,35.115Z" transform="translate(550.486 304.132)" fill="var(--main-color)"/> </g> </svg>
											{{LANG create_playlist}}
											<p>{{LANG create_playlist_desc}}</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					{{html}}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<?php echo loadPage('modals/create-playlist'); ?>
<?php echo loadPage('modals/delete-playlist'); ?>
<div id="edit-playlist"></div>