<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<div class="pub_playlists">
				<div class="row mb-5">
					<div class="col-lg-8">
						<h2 class="home_widget_title home_big_title mt-0 mb-3">{{LANG popular_playlists}}</h2>
						<div class="owl-carousel owl-theme store_short_albums mus_disc_new_trk mus_pllist_new_trk">
							{{html}}
						</div>
					</div>
					<div class="col-lg-4">	
						<div class="content mt-0 pb-0">
						{{artist_sidebar}}
						</div>
					</div>
				</div>
				
				<h2 class="home_widget_title home_big_title mt-0 mb-4">{{LANG Playlists}}</h2>
				<div class="pplist_slider playlist-small" id="user-feed-data">
					{{html}}
				</div>
			</div>
		</div>

	</div>
	<?php if($music->playlist_count>0){?>
	<div class="text-center see_all">
		<a href="javascript:void(0); loadMore('songs', 'playlists');" id="load-more-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG Load More}}</a>
	</div>
	<?php }?>
</div>

<script>
$(function () {
	$(".mus_pllist_new_trk").owlCarousel({
		loop:true,
		items: 3,
		margin: 20,
		<?php if ($music->language_type == 'rtl'){?>
		rtl:true,
		<?php }?>
		nav:true,
		dots: false,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			1000:{
				items:3
			}
		}
	});
})
</script>