<div class="ma_tabs store_tabs">
	<ul class="list-unstyled mb-0">
		<li class="<?php echo($music->site_pagename == 'developers' ? 'active' : '') ?>">
			<a href="{{LINK developers}}" data-load="developers">{{LANG developers}}</a>
		</li>
		<li class="<?php echo($music->site_pagename == 'my_apps' ? 'active' : '') ?>">
			<a href="{{LINK my_apps}}"  data-load="my_apps">{{LANG my_apps}}</a>
		</li>
		<li>
			<a data-load="create-app" href="{{LINK create-app}}" class="btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path></svg> {{LANG create_app}}</a>
		</li>
	</ul>
</div>