<div class="artist_list">
	<a href="{{USER url}}" data-load="{{USER username}}" class="artist_list_innr">
		<svg xmlns="http://www.w3.org/2000/svg" width="83.396" height="83.396" viewBox="0 0 83.396 83.396"> <path id="ic_play_circle_filled_24px" d="M43.7,2A41.7,41.7,0,1,0,85.4,43.7,41.713,41.713,0,0,0,43.7,2Zm-8.34,60.462V24.934L60.378,43.7Z" transform="translate(-2 -2)" fill="#fff"></path> </svg>
		<div class="cover_art">
			<img src="{{USER avatar}}">
		</div>
		<div class="track_info">
			<span class="artist">{{USER name}}</span>
		</div>
	</a>
</div>