<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<div class="ma_favourites">
				<h2 class="home_widget_title home_big_title mt-0">{{LANG My Favourites}}</h2>
				<!-- <div class="sec_head">
					<b>{{counts}}</b>
				</div>-->
				<div class="row">
					<div class="col-md-4">
						<div class="top_music_img mt-2">
							<img src="{{CONFIG theme_url}}/img/favourite/liked.png">
						</div>
						<div class="top_music_btns">
							<a class="btn btn-mat btn-primary" onclick="playFavSongs(); return false;"><svg xmlns="http://www.w3.org/2000/svg" width="17.847" height="17.847" viewBox="0 0 17.847 17.847"> <path id="ic_play_circle_filled_24px" d="M10.924,2a8.924,8.924,0,1,0,8.924,8.924A8.927,8.927,0,0,0,10.924,2ZM9.139,14.939V6.908l5.354,4.016Z" transform="translate(-2 -2)" fill="#fff"></path> </svg> {{LANG listen_now}}</a>
						</div>
					</div>
					<div class="col-md-8">
						<div class="sq_music_tracks">
							<div class="short_list_cont albm_song_listz top_dic_son_listz">
								<div class="short_list_card">
									<ul class="s_list_songs home_tp_songs_list">
										{{html}}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>