<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h2 class="home_widget_title home_big_title mt-0">
						{{LANG Contact Us}}
					</h2>
					<div class="content upload_music no-flex ds_create_edit_ads_cont p-5 contact_page">
						<form action="" method="POST" class="user-product-form ds_create_edit_prods" id="contact-form">
							<h3 class="mat_form_title mb-4">{{LANG Let us help you.}}</h3>
							<div class="alert alert-danger alert-empty" id="output-errors-contact"></div>
							<div class="form-group mat_input float">
								<input type="text" class="form-control" placeholder=" " required autofocus name="name">
								<label>{{LANG Full Name}}</label>
							</div>
							<div class="form-group mat_input float">
								<input type="email" class="form-control" placeholder=" " required name="email">
								<label>{{LANG Email address}}</label>
							</div>
							<div class="form-group mat_input float">
								<textarea rows="5" class="form-control" placeholder=" " name="message" required></textarea>
								<label>{{LANG Write here your message}}</label>
							</div>
							<div class="modal-footer mat_sett_btn">
							<button type="submit" class="btn btn-primary btn-mat" id="btn-submit-contact">{{LANG Send}}</button>
							</div>
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() { 
    var options = { 
    	url: "{{CONFIG ajax_url}}/contact?hash_id=" + getHashID(),
        beforeSubmit:  function () {
        	$('#output-errors-contact').removeClass("alert-success").addClass('alert-danger');
        	$('#output-errors-contact').empty();
        	$("#btn-submit-contact").text("{{LANG Please wait..}}");
        }, 
        success: function (data) {
        	$("#btn-submit-contact").text("{{LANG Send}}");
        	if (data.status == 200) {
        		$('#output-errors-contact').removeClass("alert-danger").addClass('alert-success');
        		$('#output-errors-contact').html(data.message);
        	} else if (data.status == 400) {
        		var errros = data.errors.join("<br>");
        		$('#output-errors-contact').html(errros);
        	}
        }
    }; 

    $('#contact-form').ajaxForm(options); 
}); 
</script>